<div class="row mt-1">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 justify-content-center">
        <img class="img-fluid image rounded-5" src="/assets/tables-banner-image.jpg">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 d-flex justify-content-center text-center section-background">
        <div class="row image-background2">
            <div class="heading2"> 
              <h1>Tables</h1>
              <p>Our Tables Collection blends timeless craftsmanship with modern design, creating the perfect centerpiece for your home. Each table is meticulously handcrafted from the finest wood, ensuring not only beauty but lasting durability. Whether you’re gathering with family or hosting guests, our tables are designed to elevate every moment.
              </p>
              <button class="btn btn-outline-white button2">View Collection</button>
            </div>
          </div>
    </div>
  </div>