<footer class="bg-light text-center text-lg-start">
    <div class="container p-4">
      <div class="row">
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Webshop</h5>
          <p>
            Your one-stop shop for quality wooden furniture.
          </p>
        </div>
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Contact Us</h5>
          <p>
            Email: supporttest.com<br>
            Phone: +123 456 7890
          </p>
        </div>
      </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Webshop. All rights reserved.
    </div>
  </footer>