<footer class="bg-light text-center text-lg-start">
    <div class="container p-4">
      <div class="row">
        <div class="col-lg-8 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">LowTech GmbH</h5>
          <p>
            At LowTech GmbH, we believe that sustainable design is key to a greener future, and we take pride in crafting products that not only enhance living spaces but also protect the environment. Our vision to using high-quality, eco-friendly materials ensures that every piece we create is built to last, to reduce waste and minimize our carbon footprint.
          </p>
        </div>
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Our Company</h5>
          <p>
            About Us<br>
            Career<br>
            Media<br>
            Blog<br>
          </p>
        </div>
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Need Help</h5>
          <p>
            Help Center<br>
            Shipping Policy<br>
            Terms & Conditions<br>
            Claims & Returns<br>
          </p>
        </div>
      </div>
    </div>
    <div class="text-center p-3" style="background-color: 	#D0BCAC;">
      © 2025 Frankfurt University of Applied Sciences. This coursework was created by Group 10 as part of the Cloud Computing module. All rights reserved.
    </div>
  </footer>