.navbar-nav .nav-link,
.navbar-brand {
    font-weight: bold;
}

.shopping-cart-image {
    width: 25px;
    height: auto;
    margin-right: 5px;
    vertical-align: middle;
}

// shopping-cart-image img:hover {
//     // fill: red;
//     background-color: #C37500;
//   }