<div class="product-detail" *ngIf="product | async as product">
    <div class="product-container">
        <!-- Left Column: Product Image -->
        <div class="product-image-container">
            <img class="product-image" [src]="getProductImageUrl(product.id)" alt="{{ product.name }}" />
        </div>

        <!-- Right Column: Product Details -->
        <div class="product-info">
            <h1>{{ product.name }}</h1>
            <p class="product-description">{{ product.description }}</p>

            <p><strong>Category:</strong> {{ product.category || 'Nicht angegeben' }}</p>
            <p><strong>Material:</strong> {{ product.material || 'Nicht angegeben' }}</p>
            <p><strong>Color:</strong> {{ product.color || 'Nicht angegeben' }}</p>
            <p><strong>Height:</strong> {{ product.height || 'Nicht angegeben' }} x {{ product.width || 'Nicht angegeben' }} x {{ product.depth || 'Nicht angegeben' }} cm</p>
            <p><strong>Weight:</strong> {{ product.weight || 'Nicht angegeben' }} kg</p>

            <p><strong>Availabilty:</strong>
                <span [ngClass]="{'available': product.inventory && product.inventory.stock > 0, 'out-of-stock': product.inventory && product.inventory.stock === 0}">
          {{ product.inventory && product.inventory.stock > 0 ? 'Auf Lager' : 'Nicht verfügbar' }}
        </span>
            </p>

            <p class="product-price">{{ product.price | currency }}</p>
            <!-- Update the Add to Cart button -->
            <button class="add-to-cart-button" (click)="addToCart(product)" [disabled]="!product.inventory || product.inventory.stock === 0">
                🛒 In den Warenkorb
            </button>
            <!-- Add quantity selector -->

        </div>
    </div>
</div>

<!-- If no product is found -->
<div *ngIf="!product" class="no-product">
    <p>Product not found!</p>
    <a routerLink="/" class="back-button">Zurück zur Startseite</a>
</div>
