<div class="row mt-1 align-items-stretch">
  <!-- Text section -->
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 d-flex justify-content-center section-background order-1 order-md-0">
      <div class="heading2">
          <h1>Relax in Comfort</h1>
          <p>Discover our Chairs Collection, where timeless design meets exceptional comfort. Each chair is expertly handcrafted from premium wood, offering both style and support for every occasion. Perfect for any room, our chairs bring elegance and durability to your home.
              Crafted to comfort. Designed to impress.</p>
              <button class="btn btn-outline-white button2" [routerLink]="['/product-catalog']" [queryParams]="{category: 'Chairs'}">View Chairs</button>
      </div>
  </div>
  <!-- Image section -->
  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 justify-content-center order-0 order-md-1">
      <img class="img-fluid image" src="https://storage.googleapis.com/webshop-images/static/chairs-banner-image.jpg">
  </div>
</div>
