<div class="row mt-1">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 d-flex justify-content-center section-background">
        <!--<div class="row image-background2"> -->
            <div class="heading2">
              <h1 >Relax in Comfort</h1>
              <p >Discover our Chairs Collection, where timeless design meets exceptional comfort. Each chair is expertly handcrafted from premium wood, offering both style and support for every occasion. Perfect for any room, our chairs bring elegance and durability to your home.
                Crafted to comfort. Designed to impress.</p>
              <button class="btn btn-outline-white button2">View Collection</button>
            </div>
          <!--</div>     -->
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 justify-content-center">
        <img class="img-fluid image" src="https://static.zarahome.net/assets/public/62a3/5a2b/cdbd406bba7b/e759462fb60d/4827307370001-f/4827307370001-f.jpg">
    </div>
  </div>
  