<div class="row mt-1 mb-1 align-items-stretch">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 justify-content-center">
        <img class="img-fluid image" src="https://storage.googleapis.com/webshop-images/static/beds-banner-image.jpg">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 d-flex justify-content-center section-background">
        <div class="row image-background2 border:">
            <div class="heading2"> 
              <h1>Sleep in Luxury</h1>
              <p>Explore our Beds Collection, where superior craftsmanship meets restful elegance. Each bed is carefully handcrafted from premium wood, designed to provide the perfect blend of support and style. Transform your bedroom into a serene retreat with a bed that promises both beauty and durability.</p>
              <button class="btn btn-outline-white button2">View Beds</button>
            </div>
          </div>
    </div>
  </div>